# Once supplemented with necessary variables, remove '.template' from filename and delete this comment

# Actual URL from Supabase
SUPABASE_URL= ""
# Actual Service_role Key from Supabase
SUPABASE_KEY= ""